// 定义全局页面样式和各个标签默认样式

page,
body {
	width: 100%;
	// 通用字体
	// font-family: 'SourceHanSansCN-Regular';
	font-size: 28rpx;
	color: #000;
	font-weight: 400;
	min-height: 100vh;
	// direction: rtl;
	// background-size: 50%;
	// background-repeat: no-repeat;
	// background-position: center;
	// animation-name: animProgress;
	// animation: animProgress 2s steps(1, end) infinite;
	background: #FFF5FA;

	/* #ifndef APP */
	&>.page {

		/* #endif */
		/* #ifdef APP-PLUS */
		.page {
			/* #endif */

			// background: var(--var_page_bg_color);
			// overflow: hidden;
			&::before {
				content: '';
				position: fixed;
				left: 0;
				top: 0;
				width: 100vw;
				height: var(--nav-bar-height);
				background-image: var(--theme-bg-url);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-color: var(--var_page_bg1_color);
				z-index: 300;
			}

		}
	}

	// @keyframes animProgress {

	// }
	view,
	scroll-view,
	swiper,
	button,
	input,
	textarea,
	label,
	navigator,
	image {
		box-sizing: border-box;
	}

	image {
		display: inline-block;
		position: relative;
		z-index: 0;
		max-width: 100%;
	}



	/* 适配 iPhoneX */
	@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
		.safearea-p-b {
			padding-bottom: constant(safe-area-inset-bottom);
			padding-bottom: env(safe-area-inset-bottom);
		}
	}
	/* #ifdef MP-WEIXIN */
	wx-button[disabled]:not([type]),
	wx-button[disabled][type=default] {
		background-color: initial;
	}
	/* #endif */
/* #ifdef MP-KUAISHOU */
scroll-view{
	max-height: none;
}
/* #endif */