cache=/root/.npm

registry=https://packages.aliyun.com/6203423274c3f3b550742191/npm/npm-registry/
always-auth=true
//packages.aliyun.com/6203423274c3f3b550742191/npm/npm-registry/:_authToken=003842da-d96a-45b1-a887-d459ce156382

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"
